<!-- network: following.html-->
{% extends 'network/layout.html' %}

{% block body %}
    <h1>Following</h1>

    <!-- Posts List -->
    <ul>
        {% for post in posts %}
            <li>
                <strong>{{ post.user.username }}</strong>
                <p>{{ post.content }}</p>
                <p>Likes: {{ post.like_count }}</p>
                {% if post in user.liked_posts %}
                    <button class="unlike-button" data-post-id="{{ post.id }}">Unlike</button>
                {% else %}
                    <button class="like-button" data-post-id="{{ post.id }}">Like</button> 
                {% endif %}   
            </li>
        {% endfor %}
    </ul>
{% endblock %}