<!--New Post Html-->
{% extends 'network/layout.html' %}

{% block body %}
<!-- if the user is authenticated, then they can post-->
    {% if user.is_authenticated %}
    <form action="{% url 'network:new_post'%}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>New Post</h3>
        <div class="post-form">
            <div>{{form.content}}</div>
            <div>{{form.image}}</div>
            <div>
                <input class="btn btn-primary post-btn" type="submit" value="Post">
            </div>
        </div>
        
        
    </form>
    {% endif %}
{% endblock %}