<!--post_display.html-->
<li class="post-li" data-post-id="{{ post.id }}">
    <div class="post-section">
    <a class="user-link il" href="{% url 'network:profile' username=post.user.username%}"><strong>{{ post.user.username }}</strong></a>
    <p class="p-content">{{ post.content }}</p>
    <div class="image-container">
        {% if post.image %}
            <img src="{{ post.image.url }}" alt="Post Image" class="post-image">
        {% endif %}
    </div>
    {% if user.is_authenticated %}
        <p>
            <div>
            <span class="like-count">{{ post.num_likes }}</span>    
            <span class="like-button il" data-post-id="{{ post.id }}" >
                {% if post in user.liked_posts.all %}
                    <i class="heart-icon fas fa-heart liked"></i>
                {% else %}
                    <i class="heart-icon far fa-heart"></i>
                {% endif %}
                
            </span>
            
            </div>
            <span class="post-reply-count">{{ post.num_replies }}</span>
            <a href="#" class="reply-icon">
                <i class="fa fa-reply" href="{% url 'network:post' post_id=post.id %}"></i> Reply
            </a>

        </p>
        
    {% else %}
        <p><i class="far fa-heart"></i> <span class="like-count">{{ post.num_likes }} </span></p>
    {% endif %}
    <p class="timestamp">{{ post.timestamp|timesince }} ago</p>
    </div>
    {% if user == post.user %}
    <div class="edit-section">{% csrf_token %}
        <div><button class="btn btn-primary edit-btn po" data-post-id="{{ post.id}}">Edit</button></div>
        <div><textarea class="textarea-edit" data-value="{{ post.content }}"></textarea></div>    
    </div>
    {% endif %}   
</li>
    