<!-- network: profile.html -->

{% extends 'network/layout.html' %}
{% block body %}
    <div class="profile-info">
        <h1>{{ profile_user.username }}'s Profile</h1>
        <p>Followers: <span class="followers-count">{{ profile_user.followers.count }}</span></p>
        <p>Following: <span class="following-count">{{ profile_user.following.count }}</span></p>
        {% if user != profile_user %}
            {% if user.is_authenticated %}
                {% if is_following %}
                    <button class="follow-button btn btn-primary" data-username="{{ profile_user.username }}">Unfollow</button>
                {% else %}
                    <button class="follow-button btn btn-primary" data-username="{{ profile_user.username }}">Follow</button>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
    

    <!-- User's Posts -->
    <ul>
        {% for post in posts%}
            {% include 'network/post_display.html' with post=post user=user %}
        {% endfor %}
    </ul>

{% endblock %}