<!-- network: profile.html -->

{% extends 'network/layout.html' %}
{% block body %}
    <h1>{{ profile_user.username }}'s Profile</h1>
    <p>Followers: {{ profile_user.followers.count }}</p>
    <p>Following: {{ profile_user.following.count }}</p>
    {% if user != profile_user %}
        {% if is_following %}
            <button class="unfollow-button" data-username="{{ profile_user.username }}">Unfollow</button>
        {% else %}
            <button class="follow-button" data-username="{{ profile_user.username }}">Follow</button>
        {% endif %}
    {% endif %}

    <!-- User's Posts -->
    <ul>
        {% for post in posts%}
            {% include 'network/post_display.html' with post=post user=user %}
        {% endfor %}
    </ul>

{% endblock %}