.post-li {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    list-style: none;

  }
  .np {
    margin:10px;
  }
  .post-li strong {
    font-weight: bold;
  }
  
  .post-li p {
    margin-bottom: 5px;
  }
  
  .heart-icon {
    color: #ccc;
    cursor: pointer;
  }
  
  .heart-icon:hover {
    color: red;
  }
  
  .heart-icon.liked {
    color: red;
  }
  .image-container {
    margin-top: 10px;
}

.post-image {
    height: 200px;
    border-radius: 10px;
}
.follow-button { 
    margin: 10px;
}
.post-btn {
  margin: 10px;
}
.post-form {
  position: relative;
  margin-left: 4%;
}

.replyArea{
  position:fixed;
  left: 45%;
  height:max-content;
}
.replyHeader {
  font-family: Arial, sans-serif;
  font-weight: 200;
  font-style: italic;
  color: #999;
}
.timestamp {
  font-family: Arial, sans-serif;
  font-weight: 200;
  font-style: italic;
  color: #999;
  font-size: x-small;
}