.post-li {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    list-style: none;
    cursor: pointer;
  }

.reply-li {
  padding: 10px;
  border: 1px solid #eaeaea;
  background-color: #f7f7f7;
  margin-top: 10px;
  list-style: none;
  cursor: pointer;
  margin-left: 3%;
}  
  .np {
    margin:10px;
  }

  
  .post-li strong {
    font-weight: bold;
  }
  
  .post-li p {
    margin-bottom: 5px;
  }
  
  .heart-icon {
    color: #ccc;
    cursor: pointer;
  }
  
  .heart-icon:hover {
    color: red;
  }
  
  .heart-icon.liked {
    color: red;
  }
  .image-container {
    margin-top: 10px;
}

.post-image {
    height: 200px;
    border-radius: 10px;
}
.follow-button { 
    margin: 10px;
}
.post-btn {
  margin: 10px;
}
.post-form {
  position: relative;
  margin-left: 4%;
}

.reply-area{
  position:fixed;
  left: 30%;
  height:max-content;
  bottom: 5%;
}
.reply-header {
  font-family: Arial, sans-serif;
  font-weight: 200;
  font-style: italic;
  color: #999;
  font-size:smaller;
}
.timestamp {
  font-family: Arial, sans-serif;
  font-weight: 200;
  font-style: italic;
  color: #999;
  font-size: x-small;
}

.current-page {
  border-radius: 50%;
}

textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  resize: vertical;
  height: max-content;
  width: 40vw;
  transition: height 0.3s ease;
  transition: box-shadow 0.3s ease;
  overflow: hidden; /* To hide the scroll bars*/
}

textarea:focus {
  outline: none;
  box-shadow: 0 0 5px #6c63ff;
}

textarea:not(:focus) {
  box-shadow: none;
  transition: box-shadow 0.3s ease-out;
}

/*----------------- Progress Bar For Text Area Capacity -----------*/


.container-progress {
  height: 20px;
  width: 20px;

  position: absolute;
  transform: translate(-50%, -50%);
  top: 30%;
  right: 7%;
  border-radius: 2px;
  display: grid;
  place-items: center;
}
.circular-progress {
  position: relative;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.circular-progress:before {
  content: "";
  position: absolute;
  height: 84%;
  width: 84%;
  background-color: #ffffff;
  border-radius: 50%;
}
.value-container-progress {
  position: relative;
  font-family: "Poppins", sans-serif;
  color: #231c3d;
}
#np-progress{
  right: 53%;
}

/*Animating the addition of a reply to html without reloading the page (reply.js)*/

.animate-prepend {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 3s ease-out, max-height 3s ease-out;
}

.animate-prepend.show {
  opacity: 1;
  max-height: 700px; /* Adjust the value as needed */
}
.edit-section {
  transition: opacity 2s ease-out, height 2s ease-out, padding 2s ease-out, display 2s ease-in-out;
}

.hide {
  opacity: 0;
  height: 0;
  padding: 0;
  display: none;
}